{% extends 'admin/base.html' %}{% load i18n %}
{% block title %} Administration {% endblock %}

{% block body %}
<!-- Content Wrapper. Contains page content -->
<section class="content">
  <div class="content-wrapper">

    <!-- Content Header (Page header) -->
    {% block messages %}
    {% if messages %}
    <ul class="messagelist">{% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
    {% endfor %}</ul>
    {% endif %}
{% endblock messages %}

<!-- Content -->
<div id="content" class="{% block coltype %}colM{% endblock %}">

    {% block pretitle %}{% endblock %}
    {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
    {% block content %}
    {% block object-tools %}{% endblock %}
    {{ content }}
    {% endblock %}
    {% block sidebar %}{% endblock %}
    
</div>
</div>
</section>



  <!-- Control Sidebar -->
  {% include 'admin/sidecontrol.html' %}
 
<!-- ./wrapper -->

{% endblock %}
